@using System.Globalization
@model WeLoveBooks.Mvc.ViewModels.BookViewModel

@{
	ViewData["Title"] = $"{Model.Title} - details";
}

@{
    TempData["BookId"] = Model.Id;
}

<div class="card mb-3">
    <div class="row">
        <div class="col-md-8">
            <img src="~/img/randombook.jpg" class="img-fluid rounded-start" alt="booklogo">
        </div>
    </div>  
        <div class="card-body">
            <h3 class="card-title">@Model.Title</h3>
            <h5 class="card-title">@Model.AuthorName</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><small class="text-muted">Data wydania: @Model.CreatedDate.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("pl-PL"))</small></p>
        </div>
    </div>
</div>

<h2>Recenzje</h2>
<a asp-controller="Review" asp-action="Create" class="btn btn-sm btn-primary" >Dodaj recenzję</a>

<partial name="_ReviewListPartial" for="Reviews" />