@model WeLoveBooks.Mvc.ViewModels.LoginPageViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="col-sm-4">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" />
            <span asp-validation-for="Email" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password" type="password"/>
            <span asp-validation-for="Password" class="text-warning"></span>
        </div>
        <div class="mb-3 form-group">
            <div class="mb-3 form-check">
                <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label">Remember me</label>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" name="login" value="Log In" />
        </div>
    </form>
</div>
